header
{
  background: white;
  
}
.topNav {
  width: 100%;
  height: 75px;
  font-size: 15px;
  text-align: center;
  background-color: rgb(46, 14, 14);}

.topNav li {
  display: inline-block;
  text-align: center;


}

.topNav a {
  padding: 5px 20px 10px 20px;
  
  font-weight: bold;
  text-decoration: none;
  color: White; }

.topNav a:hover {
  background-color: red}

  .container{
  background: white;
  box-shadow: 1px 1px 1px 1px;
  margin: auto;
}
body {

  background: brown;
}
#wrap {
  float: left;
  position: relative;
  left: 50%;
}

#content {
  float: left;
  position: relative;
  left: -50%;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;


}


.center button {
  height: 50px;
  width: 150px;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  background: red;
  outline: none;
  cursor: pointer;
  border: 1px solid #cc0000;
  border-radius: 35px;
  transition: 0.4s;
}
.buttons .btn2 {
  margin-left: 25px;
}
.buttons button:hover {
  background: #cc0000;
}
