<!DOCTYPE html>
<html lang="en">

<head>

  <title>Admin</title>


  <!-- Vendor JS Files -->
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="sweetalert2.all.min.js"></script>
  <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>

  <!-- Include a polyfill for ES6 Promises (optional) for IE11 -->
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
  <!-- Optional: include a polyfill for ES6 Promises for IE11 -->

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">




  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">





  <title>Supervisor</title>
  <style>
    * {
      box-sizing: border-box;
      color: #777;
    }

    html,
    body {
      margin: 0;
      padding: 0;
    }

    .main-header {
      background-color: rgba(0, 0, 0, .6);
      background-image: url("/aaa.jpg");
      background-blend-mode: multiply;
      background-size: cover;
      margin-left: 240px;
      padding-bottom: 30px;
    }

    .nav ul {
      margin: 0;
    }

    .nav li {
      display: inline;
    }

    .nav a {
      display: inline-block;
      padding: .5em;
      color: white;
      text-decoration: none;

    }

    .main-nav {
      text-align: center;
      font-size: 1.1em;
      font-weight: lighter;
      border-bottom: 1px solid rgb(255, 255, 255, .3);
    }

    .main-nav li {

      padding: 0 5%;
    }

    .nav a:hover {
      background-color: rgb(255, 255, 255, .3);
    }

    .main-name {
      padding-top: .5em;
      text-align: center;
      margin: 0;
      font-size: 3em;
      color: white;
      font-weight: normal;

    }

    .content-section{
     margin: 2em;
     margin-left: 240;
    }

    .container{
      max-width: 900px;
      margin: 0 auto;
      padding: 0 1.5em;


    }

    .section-header{
      font-weight: normal;
      color: #333;
      text-align: center;
      font-size: 2.5em;

    
    }

    /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
    #header {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 240px;
      transition: all ease-in-out 0.5s;
      z-index: 9997;
      transition: all 0.5s;
      padding: 0 15px;
      background: #040b14;
      overflow-y: auto;
    }

    #header .profile img {
      margin: 15px auto;
      display: block;
      width: 120px;
      border: 8px solid #2c2f3f;
    }

    #header .profile h1 {
      font-size: 24px;
      margin: 0;
      padding: 0;
      font-weight: 600;
      -moz-text-align-last: center;
      text-align-last: center;
      font-family: "Poppins", sans-serif;
    }

    #header .profile h1 a,
    #header .profile h1 a:hover {
      color: #fff;
      text-decoration: none;
    }

    #header .profile .social-links a {
      font-size: 18px;
      display: inline-block;
      background: #212431;
      color: #fff;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;
    }

    #header .profile .social-links a:hover {
      background: #149ddd;
      color: #fff;
      text-decoration: none;
    }

    #centerForm {
      text-align: center;

    }

    .main {
      background-color: lightgray;
      margin-left: 250px;
    }

    @media (max-width: 1199px) {
      #header {
        left: -300px;
      }

      #main {
        margin-left: 0;
      }
    }

    /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
    /* Desktop Navigation */
    .nav-menu {
      padding: 30px 0 0 0;
    }

    .nav-menu * {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .nav-menu>ul>li {
      position: relative;
      white-space: nowrap;
    }

    .nav-menu a {
      display: flex;
      align-items: center;
      color: #a8a9b4;
      padding: 12px 15px;
      margin-bottom: 8px;
      transition: 0.3s;
      font-size: 15px;
    }

    .nav-menu a i {
      font-size: 24px;
      padding-right: 8px;
      color: #6f7180;
    }

    .nav-menu a:hover,
    .nav-menu .active,
    .nav-menu li:hover>a {
      text-decoration: none;
      color: #fff;
    }

    .nav-menu a:hover i,
    .nav-menu .active i,
    .nav-menu li:hover>a i {
      color: #149ddd;
    }

    /* Mobile Navigation */
    .mobile-nav-toggle {
      position: fixed;
      right: 15px;
      top: 15px;
      z-index: 9998;
      border: 0;
      font-size: 24px;
      transition: all 0.4s;
      outline: none !important;
      background-color: #149ddd;
      color: #fff;
      width: 40px;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      border-radius: 50px;
      cursor: pointer;
    }

    .mobile-nav-active {
      overflow: hidden;
    }

    .mobile-nav-active #header {
      left: 0;
    }

    /*--

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
    .about .content h3 {
      font-weight: 700;
      font-size: 26px;
      color: #173b6c;
    }

    .about .content ul {
      list-style: none;
      padding: 0;
    }

    .about .content ul li {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    }

    .about .content ul strong {
      margin-right: 10px;
    }

    .about .content ul i {
      font-size: 16px;
      margin-right: 5px;
      color: #149ddd;
      line-height: 0;
    }

    .about .content p:last-child {
      margin-bottom: 0;
    }

    #space1 {

      margin-right: 20%;
    }

    #space2 {

      margin-right: 20%;
    }



    .circle-tile {
      margin-bottom: 55px;
      text-align: center;
      margin: 50px;
      width: 400px;
    }

    .circle-tile_user {
      text-align: center;
      width: 1400px;
    }

    .circle-tile-heading {
      border: 3px solid rgba(255, 255, 255, 0.3);
      color: #FFFFFF;
      height: 30px;
      margin: 0 auto -20px;
      position: relative;
      transition: all 0.3s ease-in-out 0s;
      width: 90px;

    }

    .circle-tile-heading_user {
      color: #FFFFFF;
      height: 50px;
      margin: 0 auto -90px;
      position: flex;
      transition: all 0.3s ease-in-out 0s;
      width: 1100px;
      top: 0;
      left: 0;
      opacity: 0.8;

    }

    .circle-tile-heading .fa {
      line-height: 80px;
    }

    .circle-tile-heading_user .fa {
      line-height: 80px;
    }

    .circle-tile-content {
      padding-top: 70px;

    }

    .circle-tile-content_user {
      background-color: white;
      margin: 5%;
      ;
      padding-top: 30px;

    }

    .circle-tile-number {
      font-size: 26px;
      font-weight: 700;
      line-height: 1;
      padding: 20px 0 20px;
    }

    .circle-tile-description {
      text-transform: uppercase;
    }

    .circle-tile-footer {
      background-color: rgba(0, 0, 0, 0.1);
      color: rgba(255, 255, 255, 0.5);
      display: block;
      padding: 5px;
      transition: all 0.3s ease-in-out 0s;
    }

    .circle-tile-footer:hover {
      background-color: rgba(0, 0, 0, 0.2);
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
    }

    .circle-tile-heading.dark-blue:hover {
      background-color: #2E4154;
    }

    .circle-tile-heading.green:hover {
      background-color: #138F77;
    }

    .circle-tile-heading.orange:hover {
      background-color: #DA8C10;
    }

    .circle-tile-heading.blue:hover {
      background-color: #2473A6;
    }

    .circle-tile-heading.red:hover {
      background-color: #CF4435;
    }

    .circle-tile-heading.purple:hover {
      background-color: #7F3D9B;
    }

    .tile-img {
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
    }

    .dark-blue {
      background-color: #34495E;
    }

    .green {
      background-color: #16A085;
    }

    .blue {
      background-color: #2980B9;
    }

    .orange {
      background-color: #F39C12;
    }

    .red {
      background-color: #E74C3C;
    }

    .purple {
      background-color: #8E44AD;
    }

    .dark-gray {
      background-color: #7F8C8D;
    }

    .gray {
      background-color: #95A5A6;
    }

    .light-gray {
      background-color: #BDC3C7;
    }

    .yellow {
      background-color: #F1C40F;
    }

    .text-dark-blue {
      color: #34495E;
    }

    .text-green {
      color: #16A085;
    }

    .text-blue {
      color: #2980B9;
    }

    .text-orange {
      color: #F39C12;
    }

    .text-red {
      color: #E74C3C;
    }

    .text-purple {
      color: #8E44AD;
    }

    .text-faded {
      color: rgba(255, 255, 255, 0.7);
    }

    .UserData {
      background-color: light-gray;
      padding-bottom: 3em;
      position: relative;

    }

    .AddUser {
      padding-top: 2em;
    }
  </style>



</head>

<body>


  {{{body}}}

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>







</body>

</html>