<!DOCTYPE html>
<html lang="en">

<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="sweetalert2.all.min.js"></script>


<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="sweetalert2.all.min.js"></script>

  <script src="sweetalert2.min.js"></script>
  <link rel="stylesheet" href="sweetalert2.min.css">
  <!------ Include the above in your HEAD tag ---------->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chairperson</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      margin: 0;
      padding: 0;

      font-family: "Poppins", sans-serif;
      background-color: #800000;



    }

    #edit_inf {
      background-color: #7b857c;
      /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: right;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;

    }



    /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
    #header {
      position: fixed;
      top: 98px;
      left: 0;
      bottom: 0;
      width: 300px;
      background: #fff;
    
    }

    #header .profile img {
      margin: 15px auto;
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

  
    #header .profile h1 a,
    #header .profile h1 a:hover {
      text-decoration: none;
    }

    #header .profile .social-links a {
      font-size: 18px;
      display: inline-block;
      background: #212431;
      color: #fff;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;


    }


    #main {
      margin-left: 20%;
    }

    @media (max-width: 1199px) {
      #header {
        left: -300px;
      }

      #main {
        margin-left: 0;
      }
    }

    /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
    /* Desktop Navigation */
    .nav-menu {

      color: #800000;

      padding: 3px 0 0 0;
      text-decoration: none;
    }

    .nav-menu * {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      text-decoration: none;

    }

    .nav-menu>ul>li {
      margin: 0;
      padding: 0;
      position: relative;
      white-space: nowrap;

    }

    .nav-menu a {
      display: block;
      color: #800000;
      padding: 12px 9px;
      padding-right: 5px;

      margin-bottom: 8px;
      transition: 0.3s;
      font-size: 15px;

    }

    .nav-menu a i {
      font-size: 24px;
      padding-right: 8px;
    }

    .nav-menu a:hover,
    .nav-menu li:hover>a {
      text-decoration: none;
      color: #fff;
      background-color: #800000;
    }

    .nav-menu a:hover i,
    .nav-menu .active i,
    .nav-menu li:hover>a i {
      color: #149ddd;
    }

    /* Mobile Navigation */
    .mobile-nav-toggle {
      position: fixed;
      right: 15px;
      top: 15px;
      z-index: 9998;
      border: 0;
      font-size: 24px;
      transition: all 0.4s;
      outline: none !important;
      background-color: #149ddd;
      color: #fff;
      width: 40px;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      border-radius: 50px;
      cursor: pointer;
    }

    .mobile-nav-active {
      overflow: hidden;
    }

    .mobile-nav-active #header {
      left: 0;
    }

    .userName-slidebar {
      text-align: center;
      font-weight: bold;
      padding-bottom: 1em;
      border-bottom: 1px solid black;
    }
     .about {
      margin-top: 3%;
      padding: 0;
    }

    .about .content h3 {
      font-weight: 700;
      font-size: 26px;
      color: #800000;
      margin-bottom: .5em;
    }

    .about .content ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .about .content ul li {
      margin: 20px;
      display: flex;
      align-items: center;
    }

    .about .content ul strong {
      margin-right: 10px;
    }

    .about .content ul i {
      font-size: 16px;
      margin-right: 5px;
      color: #149ddd;
      line-height: 0;
    }

    .about .content p:last-child {
      margin-bottom: 0;
    }

    #userInfo {
      display:flex;
      justify-content: center;
      margin-left: 100px;
      padding: 0;
    }

    .image-container {}

    .img-postion {
      position: relative;
      right: -80px;
    }

    .proBox {     
       display:flex;
      justify-content: space-around;
      background-color: white;
      border: 1px solid black;
      padding: 20px;
      box-shadow: 5px 10px 10px #c7c4c4;
      width: 500px;

    }

  .divES{
    width:300px;
    position: relative;
    right: -45%;
   
  }
    .editANDsubmit{
      display: flex;
      justify-content: space-around;
      margin-top:1em;
    }
    
    .editInfo_table {
      display: flex;
      justify-content:center;
      margin-top: 2em;
      margin-left: 35%;
      background-color: rgb(240, 240, 240);
      font-size: 1em;
      width: 500px;
      height: 480px;
      border: 1px solid;
      padding: 10px;
      box-shadow: 10px 10px 10px #c7c2c2;
    }

   

    .main-box {
      background-color: white;
    }

    .table-responsive {

      border: 1px solid;
      padding: 10px;
      box-shadow: 5px 10px #888888;

    }

    .header-doc {
      margin-left: 14.5%;
      padding-top: 1em;
      padding-bottom: .5em;
      background-color:white;
      color: black;
      border-top: 1px solid black;
    }

    .main-doc {
      margin-top: 2em;
      margin-left: 30%;
    }

    .main-show-doc {
      margin-top:3%;
      margin-left: 20%;
      margin-right: 20%;
    }

    .main-choose {
      background-color: lightgray;
      width:25%;
      position: relative;
      right: -650px;
  box-shadow: 0 8px 6px -6px black;
    }


  </style>

</head>
</head>

<body>

  <div class="container">
    {{{body}}}


  </div>


</body>

</html>