<head>
    <style>
        .main-header {
            display:flex;
            justify-content: center;  
            width: 100%;     
            background-color: rgb(245, 245, 245);
            font-size: .5em;
            padding:1.2em;
            font-family: "Poppins", sans-serif;
         
        }

        .nav a {
            display: inline-block;
            padding: .5em;
            color: #800000;
            font-weight: bold;
            text-decoration: none;
            position: relative;
            bottom: 10px;
            padding-left: 10em;

        }




        .main-name {
            font-weight: bold;
            text-align: center;
            font-size: 3em;
            color: #800000;

        }

        .nav ul {
            margin: 0;

        }

        .nav li {
            display: inline;
        }

        .header-user {
            font-size: 2em;
            text-decoration: none;
        }

 
        #he-img {
            position: relative;
            left: -130px;
            bottom: -10px;

        }

        #he-user {
            position: relative;
            top: -5px;;
            font-size: 2em;
        }
    </style>
</head>
<header class="main-header">
    <nav class="nav">
        <ul>
            <li id="he-img">
                <a href="">
                    <img src="https://corporateaffairs.utm.my/wp-content/uploads/2020/01/LOGO-UTM.png" alt="Smiley face"
                        height="50" width="150" />

                </a>

            </li>
            <li class="header-li" id="he-title">
                <a href="">
                    <h2 class="main-name">Document Management System for Oral Examination</h2>

                </a>
            </li>
            <li id="he-user">
                <a href="">

                    Student: {{user.fullName}}

                </a>
            </li>
        </ul>
    </nav>

</header>