<div id="SlideBar-header">
	<div class="d-flex flex-column">

		<div class="profile">
			<img src="/upload/images/{{user.image}}" alt="" class="rounded-circle" />


		</div>
		<div class="nav-header">
			<span class="text-white bg-dark text-lg">ODMSOE</span>

		</div>
<hr>
		<nav class="nav-menu navbar">
			<ul>
				<li><a href="/Admin/home" name="home" class="hvr-grow nav-link scrollto"><i class="bx bx-home"></i>
						<span>Home</span></a>
				</li>
				<li><a href="/Admin/profile" name="profile" class="hvr-grow nav-link scrollto"><i class="bx bx-user"></i>
						<span>Profile</span></a></li>
				<li><a href="/Admin/Manageusers" name="manageusers" class="hvr-grow nav-link scrollto"><i
							class="bx bx-user"></i>
						<span>Manage Users</span></a></li>
				<li><a href="/Admin/AssignStudents" name="assignStudents" class="hvr-grow nav-link scrollto"><i
							class="bx bx-user"></i>
						<span>Assign Students</span></a></li>
				<li><a href="/Admin/issueExam" name="issueExam" class="hvr-grow nav-link scrollto"><i class="bx bx-user"></i>
						<span>Issue Exam</span></a></li>
				<li><a href="/Admin/students" name="issueExam" class="hvr-grow nav-link scrollto"><i class="bx bx-user"></i>
						<span>Students</span></a></li>

				<li><a href="/signout" class="hvr-grow nav-link scrollto"><i class="bx bx-server"></i>
						<span>Sign Out</span></a></li>
			</ul>
		</nav><!-- .nav-menu -->
	</div>
</div><!-- End Header -->