<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="/upload/images/{{user.image}}" alt="No image">

    </div>
    <div class="userName-slidebar">
      <p class="text-white bg-dark">ODMSOE</p>


    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a href="/Chairperson/home" name="home" class="nav-link scrollto active"><i class="bx bx-home"></i>
            <span>Home</span></a>
        </li>
        <li><a href="/Chairperson/profile" name="profile" class="nav-link scrollto"><i class="bx bx-user"></i>
            <span>Profile</span></a></li>
        <li><a href="/Chairperson/approve" name="approve" class="nav-link scrollto"><i class="bx bx-user"></i>
            <span>Approve</span></a></li>
        <li><a href="/Chairperson/examInfo" class="nav-link scrollto"><i class="bx bx-server"></i> <span>View Exam
              info</span></a>
        <li><a href="/Chairperson/studentsResult" class="nav-link scrollto"><i class="bx bx-file-blank"></i>
            <span>Results</span></a></li>
        <li><a href="/signout" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Sign Out</span></a>
        </li>

      </ul>

    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->