<!-- ======= Header ======= -->
<header id="header">

  <div class="profile">
    <img src="/upload/images/{{user.image}}" alt="No image">

  </div>
  <div class="userName-slidebar">
    <p class="text-white bg-dark">ODMSOE</p>


  </div>

  <nav id="navbar" class="nav-menu navbar">
    <ul>
      <li><a href="/Examiner/home" name="home" class="nav-link scrollto active"><i class="bx bx-home"></i>
          <span>Home</span></a>
      </li>
      <li><a href="/Examiner/profile" name="profile" class="nav-link scrollto"><i class="bx bx-user"></i>
          <span>Profile</span></a></li>
      <li><a href="/Examiner/approve" name="approve" class="nav-link scrollto"><i class="bx bx-user"></i>
          <span>Approve</span></a></li>

      <li><a href="/Examiner/results" class="nav-link scrollto"><i class="bx bx-file-blank"></i>
          <span>Results</span></a></li>

      <li><a href="/signout" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Sign Out</span></a>
      </li>

    </ul>

  </nav><!-- .nav-menu -->
</header><!-- End Header -->