<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="/upload/images/{{user.image}}" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a >{{user.fullName}}</a></h1>

    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a href="home" name="home" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a>
        </li>
        <li><a href="profile" name="profile" class="nav-link scrollto"><i class="bx bx-user"></i>
            <span>Profile</span></a></li>
        <li><a href="students" name="students" class="nav-link scrollto"><i class="bx bx-user"></i>
            <span>Students</span></a></li>
        <li><a href="studentDocuments" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Viva
              Documents</span></a></li>
        <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Examiners</span></a></li>
        <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>View Exam info</span></a>
        </li>
        <li><a href="signout" name="signout" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Sign
              Out</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->