<form action="/Supervisor/assign" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Enter student matric</label>
    <input type="text" name="matricNo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>